.form_section{
    margin: 150px auto;
    padding: 5%;
    border-radius: 10px;
}

.account_reg{
    display: flex;
    padding: 20px 0;
}

.account_reg span{
    text-decoration: underline;
    padding: 0 2px;
}


.log-btn{
    background-color: #4F1787;
    color: white;
}

@media only screen and (min-width: 600px) {
    .form_section{
        width:450px;
    }
}

@media only screen and (min-width: 768px) {
    .form_section{
        width:500px;
    }
} 

@media only screen and (min-width: 992px) {
    .form_section{
        width:600px;
    }
}