<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Products App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLink="/register">Register</a>
                <a class="nav-link" routerLink="/login">Login</a>
                <a class="nav-link position-relative" routerLink="/cart"><i class="fa fa-light fa-cart-shopping position-relative"></i><span
                        class="counter position-absolute top-25 start-75 translate-middle badge rounded-pill">
                        {{productsCounter}}
                    </span></a>
            </div>
        </div>
    </div>
</nav>