.form_section{
    margin: 50px auto;
    padding: 2%;
    border-radius: 10px;
}

.account_login{
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.account_login span{
    padding: 0 2px;
}

span a{
    color: #EB3678 !important;
    text-decoration: underline;
    text-decoration-color: #EB3678 !important;
}

.reg-btn{
    background-color: #EB3678 !important;
    color: white;
}

@media only screen and (min-width: 600px) {
    .form_section{
        width:300px;
    }
}

@media only screen and (min-width: 768px) {
    .form_section{
        width:400px;
    }
} 

@media only screen and (min-width: 992px) {
    .form_section{
        width:600px;
    }
}
